.content{background:#FAFAFA;padding-top:52px ;}
.container{width: 1200px;height: 582px;margin: 0 auto;border:1px solid #E6E6E6 ;
background:white ;}
.container .container-p{font-size: 24px;font-weight: bold;margin-top:40px ;margin-bottom:55px ;
text-align: center;}
.fix:after {display: block;clear: both;content: ''; }
.loginbar{line-height:20px ;height: 40px;margin-bottom: 22px;}
.loginbar input{width: 368px;height: 40px;border:1px solid #E6E6E6;margin:0 22px ;
border-radius:5px ;padding-left:10px ;}
.loginbar .cont-spa1{font-size: 18px;}
.loginbar .cont-spa2{color: red;font-size: 12px;background:url(../img/aa_03.png) no-repeat 0px 12px ;
padding-left:20px ;display: inline-block;padding-left:30px ;}
.cont-s{color: red;font-size: 12px;background:url(../img/zhu-1_03.png) no-repeat 0px 12px ;
padding-left:20px ;display: inline-block;padding-left:30px ;}
.cont-img{margin-right: 10px;}
.cont-but{width: 166px;height: 40px;background:#F4F4F4 ;border: 1px solid #E6E6E6;
border-radius:5px ;}
.loginbar div{float: left;height: 40px;line-height:40px ;}
.cont-d{width: 406px;}
.cont-d>span{float: right;background:url(../img/zhu-4_03.png) no-repeat 0px 17px; padding-left:10px ;}
.cont-i{width: 176px !important;height: 40px;border:1px solid #E6E6E6;margin:0 22px ;
border-radius:5px ;}
.cont-b{width: 168px;height: 40px;border:1px solid #E6E6E6;
border-radius:5px ;padding-left:10px ;margin-right: 22px;}
.cont-y{margin-right: 22px;display: inline-block;}
.cont-im{margin:0 40px 0 20px;}
.regsiter{margin-left:406px ;}
.regsiter-b{width: 385px;height: 46px;border:1px solid #E6E6E6;margin:60px 22px 14px 22px ;
border-radius:5px ;padding-left:10px ;font-size: 16px;color: white;background:#2288F6 ;}
.regsiter-b>a{color: white;}
.regsiter-d2{width:405px;}
.regsiter-p1{float: left;padding-left:15px;}
.regsiter-p2{float: right;}
#header {
    width: 100%;
}

#header > .nav {
    width: 1200px;
    padding: 8px 0 10px 0;
    margin: 0 auto;
    position: relative;
}

#header > .nav:after {
    display: block;
    clear: both;
    content: '';
}

#header > .nav > h2 {
    float: left;
}

#header > .nav > h2 > img {
    width: 60%;
}
.foot{
    height: 92px;
    background: #212425;
    text-align: center;
    position: relative;
}
.foot-ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
.foot-ul li{
    float: left;
    color: #E6E7E7;
    padding: 0 14px;
    font-size: 10.5px;
    line-height: 10.5px;
    border-right: 1px solid #7A7A7A;
}
.foot .hr{
    position: absolute;
    top: 50%;
    width: 1080px;
    margin-left:136px;
    border: 1px solid #7A7A7A;
}
.foot-ul .foot-li1{
    padding-left: 0;
}
.foot-ul .foot-li2,.foot-ul .foot-li3{
    padding-right: 0;
    border-right: none;
}
.foot-ul .foot-li3 {
    color: #8C8C8C;
    font-size: 15px;
}
.foot-ul .foot-li3 span{
    background: #212425;
    color: #fff;
    /*border: 1px solid red;*/
    display: inline-block;
    margin-top: -10px;
}
.foot-ul .foot-li3 span img{
    vertical-align: middle;
}
.foot-p{
    color: #7C7B79;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}